{% extends 'base.html' %}
{% load bootstrap4 %}

{% load static %}
{% block content %}
<div class="container" >
    <div class="text-white text-center" style="margin-top:15%;">
        <h1>Welcome to Neighbourly</h1>
        <h3>A private neighbourhood website designed just for you and your neighbours</h3>
        <h4 style="margin-top:6%">Get Started by joining a neighbourhood today</h4>
        <a href="{% url 'hood' %}" class="btn btn-lg btn-info mt-4">Join Hood</a>
    </div>

</div>
{% endblock %}