{% load crispy_forms_tags %}
{% load bootstrap4 %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="nbar" style="background-color: lightgray;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-family: 'Special Elite', cursive; font-size:25px; font-weight:15px;"> <strong class="mr-4 brand"> <img src="https://cdn.neighbourly.co.nz/bundles/neighbourlyregistration/img/logo-green.svg?202206020808" width=250px style="margin-right:80px;"></strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form class="form-inline" method="get" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="md-form my-0">
                            <input class="form-control mr-sm-2 " type="text" placeholder="Search Business" name="title" aria-label="Search">
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right">
                {% if user.is_authenticated%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">{{ user.username|title }} <img class="rounded-circle nav-img"
                                                                            src="{{ user.profile.profile_picture.url }}"
                                                                            alt="" height="40" width="40">
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">Profile</a>
                        <hr>
                        <a class="dropdown-item text-center" href="{% url 'edit-profile' user.username  %}"> Edit profile</a>
                        <hr>
                        
                        <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>


                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       
                      ><i class="fas fa-home"></i>
                      Hoods
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{% url 'hood' %}">All Hoods
            </a>
                
                {% if user.profile.neighbourhood %}
            <a href="{% url 'single-hood' user.profile.neighbourhood.id %}">
                <i class="fas fa-paper-plane"></i>&nbsp;
                &nbsp;{{user.profile.neighbourhood.name}}
            </a>
        </li>
        {% else %}
        <li class="mb-4">
            <a href=""> &nbsp;
                No Hood Yet
            </a>
        </li>
        {% endif %}
    </ul>
                {% else %}
                <a href="{% url 'login' %}" class="login btn btn-sm btn-info"> REGISTER/LOGIN </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>